/* Estilo global para texto */

h1, h2, h3 {
  font-family: 'Roboto', sans-serif;
}

p, li, a{
  font-family: 'Roboto', sans-serif;
}

/* Jerarquía tamaño texto */

h1 {
 font-size: 3em;
}

h2 {
 font-size: 2.25em;
}

h3 {
  font-size: 1.75em;
}

p {
  color: hsla(0, 0%, 0%, 0.8);
}

@media only screen and (max-width : 767px) {

  h1 {
   font-size: 2em;
  }

  h2 {
   font-size: 1.625em;
  }

  h3 {
    font-size: 1.375em;
  }

}
body{
  margin: 0;
}

/* Navbar */

.navbar_fundacion {
    background-color: #9dace0;
    color: hsla(0, 100%, 100%, 0.52);
}
.icon-bar {
  background-color: #fff;
}

.navbar-brand img {
    height: 65px;
    width: 150px;
    border-radius: 35px;
    margin-top: -19px;
}

.navbar-nav > li > a {
    color: #fff;
    text-shadow: none;
    text-transform: uppercase;
    font-size: 16px;
    padding-left: 45px;
}
.nav > li > a:hover {
  background-color: initial;
  color: hsla(0, 0%, 100%, .5);
}

.navbar {
    margin-bottom: 0px;
    border-radius: 0;
    height: 78px;
    padding: 10px;
}

/* Carrusel slider */

.carousel-inner {
    position: relative;
    width: 100%;
    height: 400px;
    overflow: hidden;
    margin-top: 58px;
}
.carousel-inner img {
    width: 100%;
    position: absolute;
    opacity: 0.9;
}
.carousel-inner h1{
    text-align: center;
    font-size: 50px;
    color: #1d7cce;
    position: relative;
    text-shadow: 1.5px 1px silver;
}

@media (max-width:600px){
  /* Carrusel slider */

.carousel-inner {
    position: relative;
    width: 100%;
    height: 180px;
    overflow: hidden;
    margin-top: 58px;
}
.carousel-inner img {
    width: 100%;
    position: absolute;
    opacity: 0.9;
    height: 58px;
}
.carousel-inner h1{
    text-align: center;
    font-size: 30px;
    color: #1d7cce;
    position: relative;
    text-shadow: 1.5px 1px silver;
}

/* Thumbnails */

.thumbnail {
    padding: 10px;
    text-align: center;
    font-size: 20px;
    margin-top: 50px;
}
.thumbnail>img {
    margin-right: auto;
    margin-left: auto;
    height: 70px;
}
.container .titulo-resumen {
    text-align: center;
    font-size: 40px;
}

}

/* Thumbnails */

.thumbnail {
    padding: 10px;
    text-align: center;
    font-size: 20px;
    margin-top: 50px;
    height: 460px;
}
.thumbnail>img {
    margin-right: auto;
    margin-left: auto;
    height: 70px;
}
.titulo-resumen {
    text-align: center;
    font-size: 60px;
}

/* Button */

.button_fundacion {
    background-color: #9dace0;
    border-radius: 30px;
    padding: 1.5rem 5rem;
    color: black;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 10px;
    margin-top: 20px;
}

.button_fundacion:hover {
  background-color: hsla(227, 100%, 60%, .1);
  color: #325DFF;
}

/* Footer */

.footer_fundacion {
  background-color: #251f1fd9;
  padding: 2vw 1rem;
  text-align: left;
}


input{
    width: 100%;
    padding: 2px;
    margin: 0px 0;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 2px;
}
.footer_fundacion label,span{
  color: white;
}

.footer_fundacion span {
    letter-spacing: 2px;
}
 
textarea {
    width: 100%;
    height: 90px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    resize: none;
}


/* SECCION QUIENES SOMOS */

/* Header */

.header_fundacion {
    background-image: url(../images/quienessomos.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    height: 400px;
    padding-top: 135px;
    background-position: right bottom;
    margin-top: 78px;
}

.header_fundacion h1 {
    text-align: center;
    font-size: 5em;
    color: #1d7cce;
    position: relative;
    text-shadow: 1.5px 1px silver; 
}


/*historia*/

.contenido {
    margin-top: 50px;
    font-size: 1.8em;
    padding-bottom: 50px;
}

.jumbotron {
    margin-top: 0;
    background-size: cover;
    text-align: center;
    padding-bottom: 55px;
    color: #1d7cce;
    border-top: solid 1px silver;
    border-bottom: solid 1px silver;
    font-size: 1.5em;
    letter-spacing: 10px;
}






/* Blog */

.blog__inner_background {
  background-image: url("../images/img-blog.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 500px;
}

.blog__inner {
  padding-top: 10vh;
  padding-left: 10vw;
}

.blog__inner h3 {
  font-size: 3em;
}
.blog__inner p {
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-right: 8vw;
}

@media only screen and (max-width : 767px) {
  .blog__inner {
    padding-top: 2vh;
    padding-left: 15vw;
    padding-bottom: 5vh;
  }
  .blog__inner h3 {
    font-size: 2em;
  }

  .blog__inner_background {
    height: 300px;
  }
}

/* Features */

.features {
  text-align: center;
  padding: 4rem 10vw 10rem 10vw;
}

.features h2 {
  font-size: 3em;
}

.features P {
  padding: 1rem 15vw;
}

.features__inner{
  border: 1px solid hsla(0, 0%, 0%, .1);
  border-radius: 3px;
  padding: 5rem 0rem;
  margin: 3rem 1rem;
}

.features__inner h3 {
  padding-top: 1rem;
}

.features__inner p {
  padding: .5rem 5rem;
}

.features__inner-icon {
  background-color: #325DFF;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  margin: auto;
  position: relative;
}

.svg-inline--fa  {
  color: #fff;
  font-size: 40px;
  position: absolute;
  top: 30px;
  right: 30px;
}

@media only screen and (max-width : 767px) {

  .features {
    padding-bottom: 4rem;
  }

  .features h2 {
    font-size: 2em;
    padding-bottom: 1rem;
  }

  .features P {
    padding: 0 10vw;
  }

  .features__inner {
    padding: 2rem 0;
    margin: 2rem;
  }

  .features__inner h3 {
    font-size: 1.7em;
    padding-top: 1rem;
  }

}

/* Video */

.video {
  position: relative;
  text-align: center;
  padding-left: 40px;
}

.video__inner {
  position: absolute;
  top: 60%;
  color: #fff;
}

.video__inner h2 {
  font-size: 3em;
}

.video__inner p {
  padding: 0 20vw;
  color: #fff;
}

@media only screen and (max-width : 767px) {

  .video {
    padding-left: 0;
  }

  .video__inner {
    height: 50px;
    top: 8%;
  }

  .video__inner h2 {
    font-size: 2em;
  }

  .video__inner p {
    visibility: hidden;
  }

}

/* Portfolio */

.portfolio {
  text-align: center;
  padding-top: 4rem;
  margin: 0;
}

.portfolio h2 {
  font-size: 3em;
}

.portfolio p {
  padding: 1rem 24vw;
}

.portfolio > hr {
  visibility: hidden;
}

.portfolio__inner {
  text-align: left;
  height: 500px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 10vh 5vw 0 5vw;
}

.portfolio__inner h3 {
  font-size: 2.8em;
}

.portfolio__inner p {
  padding: 1rem 8vw 1rem 0;
}

.portfolio__inner__image-top {
  background-image: url("../images/portfolio-1.jpg");
}

.portfolio__inner__image-middle {
  background-image: url("../images/portfolio-2.jpg");
}

.portfolio__inner__image-bottom {
  background-image: url("../images/portfolio-3.jpg");
}

@media only screen and (max-width : 767px) {

  .portfolio {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }

  .portfolio h2 {
    font-size: 2em;
  }

  .portfolio p {
    padding: 2rem 10vw 1rem 10vw;
  }

  .portfolio hr {
    visibility: visible;
    margin-top: 0;
    margin-bottom: 0;
    width: 100px;
  }

  .portfolio__inner {
    padding: 0 2rem 4rem 15vw;
    height: auto;
  }

  .portfolio__inner h3 {
    font-size: 1.5em;
  }

  .portfolio__inner p {
    padding: 1rem 8vw 1rem 0;
  }

  .portfolio__inner__image-top, .portfolio__inner__image-middle, .portfolio__inner__image-bottom {
    display: none;
  }

}



.footer_di-buffala small {
  color: hsla(0, 100%, 100%, 0.52);
  font-size: 1em;
}